<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
	<head>
		<meta charset="UTF-8">
		<title>マイページ</title>
	</head>
	<body>
		 <h1>マイページ</h1>
		<!-- findByIdの記述 -->
		<!--  <table>
			<tr><th>登録者番号</th><th>名前</th><th>メールアドレス</th></tr>
		 	<tr th:Object="${user}">
			 	<td th:text="*{id}"></td>
			 	<td th:text="*{name}"></td>
			 	<td th:text="*{mail}"></td>
		 	</tr>
		 </table>  -->
		  <!--  findByIdIsNotNullOrderByIdDesc();の記述 -->
		 <table>
			<tr><th>登録者番号</th><th>名前</th><th>メールアドレス</th></tr>
		 	<tr th:each="u:${user}">
			 	<td th:text="${u.id}"></td>
			 	<td th:text="${u.name}"></td>
			 	<td th:text="${u.mail}"></td>
		 	</tr>
		 </table>
	</body>
</html>